@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Roboto&display=swap');

body {
    text-align: center;
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    background-color: #add8e6;
}

h1 {
    font-family: "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
}

#rules-box p {
    line-height: 22px;
}

#game-board {
    width: 570px;
    height: 480px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
}

img {
    width: 80px;
    height: 80px;
}

.memory-card {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    float: left;
    margin: 5px;
}

button {
    height: 35px;
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 5px;
    border: 2px solid #000000;
    letter-spacing: 1px;
    padding: 0;
}

#submit {
    width: 120px;
    font-size: medium;
    background-color: #ff0000;
}

#reset {
    width: 170px;
    font-size: large;
    background-color: #0000ff;
}

#submit:hover {
    background-color: #f05151;
    color: #000000;
}

#reset:hover {
    background-color: #6767f6;
    color: #000000;
}

#time-tracking {
    font-family: "Barlow Semi Condensed", "Trebuchet MS", sans-serif;;
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0;
}

#result-message {
    color: #000000;
    font-weight: bold;
    font-size: medium;
    background-color: #07e80780;
    width: 400px;
    margin: auto;
}