@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Roboto&display=swap');

body {
    text-align: center;
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    background-color: #add8e6;
}

/* Rules-box with heading */

h1 {
    font-family: "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
}

#rules-box p {
    line-height: 22px;
}

/* Game board with cards */

#game-board {
    width: 566px;
    height: 453px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
}

img {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    float: left;
    margin: 5px;
    background-color: #ffffff;
}

img:hover {
    background-color: #c9d0c7;
}

/* Result-box with time tracker and buttons for saving time-score and reseting game */

#time-tracker {
    font-family: "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

#score-board {
    font-family: "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
    width: 566px;
    margin: auto;
}

#score-board p {
    width: 50%;
    float: left;
    line-height: 25px;
    font-size: large;
    font-weight: bold;
}

#buttons {
    width: 566px;
    margin: auto;
}

button {
    height: 35px;
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #000000;
    letter-spacing: 1px;
    padding: 0;
}

#submit {
    width: 120px;
    font-size: medium;
    background-color: #b30000;
}

#reset {
    width: 170px;
    font-size: medium;
    background-color: #0000ff;
}

#submit:hover {
    background-color: #f05151;
    color: #000000;
}

#reset:hover {
    background-color: #6767f6;
    color: #000000;
}

/* Changes to styling to make the website look good on mobile devices (screen sizes between 320px and 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Rules-box with heading */
    h1 {
        font-size: x-large;
    }

    #rules-box p {
        font-size: small;
        line-height: 20px;
    }

    /* Game board with cards */
    #game-board {
        width: 253px;
        height: 315px;
        padding: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    /* Result-box with time tracker and buttons for saving time-score and reseting game */
    #time-tracker {
        font-size: medium;
        margin: 10px 0;
    }

    #score-board {
        width: 253px;
        margin: auto;
    }

    #score-board p {
        width: 100%;
        float: none;
        font-size: small;
        line-height: 10px;
        margin: 8px 0;
    }

    #buttons {
        width: 253px;
        margin: auto;
        padding: 15px 0 0 0;
    }

    button {
        height: 25px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }

    #submit {
        width: 90px;
        font-size: x-small;
    }

    #reset {
        width: 140px;
        font-size: x-small;
    }
}

/* Changes to styling to make the website look good on tablet devices (screen sizes between 481px and 768px*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Rules-box with heading */
    #rules-box p {
        font-size: small;
        line-height: 20px;
    }

    /* Game board with cards */
    #game-board {
        width: 416px;
        height: 333px;
        padding: 5px;
    }

    img {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    /* Result-box with time tracker and buttons for saving time-score and reseting game */
    #time-tracker {
        font-size: large;
        margin: 15px 0;
    }

    #score-board {
        width: 416px;
        margin: auto;
    }

    #score-board p {
        width: 100%;
        float: none;
        font-size: medium;
        line-height: 15px;
        margin: 8px 0;
    }

    #buttons {
        width: 416px;
        margin: auto;
        padding: 15px 0 0 0;
    }

    button {
        height: 25px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }

    #submit {
        width: 115px;
        font-size: small;
    }

    #reset {
        width: 155px;
        font-size: small;
    }
}